body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #141f40;
    padding-top: 20px;
    padding-left: 220px;
    height: 80px;
    width:  180px;
}
.h-1 {
    display: flex;
    background-color: white;
    justify-content: space-between; 
    align-items: center; 
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    width:  140px;
}
.h-1-1 {
    background-color: #a9004b;
    height: 40px;
    width:  40px;
}
.h-1-2 {
    background-color: #a9004b;
    height: 40px;
    width:  40px;
}
.h-1-3 {
    background-color: #a9004b;
    height: 40px;
    width:  40px;
}

.main {
    display: flex;
}
.m-1 {
    background-color: #80bfa8; 
    height: 250px;
    width:  150px;
}
.m-2 {
    background-color: #8c2727; 
    padding-top: 40px;
    padding-left: 40px;
    height: 210px;
    width:  210px;
 }
 .m-2-1 {
    background-color: #8c2727; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 170px;
    width:  160px;
 }
.m-R1-1 {
    background-color: white; 
    height: 50px;
    width:  160px;
}

.m-R1-2 {
    background-color: #ff863f; 
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;
    width: 140px;
}

.m-R2-1 {
    background-color: white; 
    height: 50px;
    width:  160px;
}

.m-R2-2 {
    background-color: #ff863f; 
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;
    width: 140px;
}


.m-R3-1 {
    background-color: white; 
    height: 50px;
    width:  160px;
}

.m-R3-2 {
    background-color: #ff863f; 
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;
    width: 140px;
}

.footer {
    background-color: #d98d30;
    height: 100px;
    width:  400px;
}
